<p-messages></p-messages>
<div class="container">
    @for (user of users; track user.id)
    {
    <div class="user">
        <p-card>
            <ng-template pTemplate="header">
                <div class="user-header">
                    <p-avatar [label]="getFirstLetter(user.name)" styleClass="mr-2" size="xlarge" shape="circle" />
                    <h2>{{user.name}}</h2>
                    <button pButton class="delete-button p-button-rounded p-button-danger p-button-text"
                        icon="pi pi-trash" (click)="deleteUser($event, user)">
                    </button>
                </div>
            </ng-template>

            <div class="user-info">
                <span class="user-label">Height (in)</span>
                <span class="user-info-text">{{user.height}}</span>
                <span class="user-label">Weight (lbs)</span>
                <span class="user-info-text">{{user.weight}}</span>
            </div>

            <ng-template pTemplate="footer">
                <p-button (onClick)="selectUser(user)" label="Select User" [raised]="true" [rounded]="true"></p-button>
            </ng-template>
        </p-card>
    </div>
    }

    <div class="user">
        <p-card>
            <ng-template pTemplate="header">
                <div class="avatar-container">
                    <p-skeleton shape="circle" size="5rem" />
                </div>
                <h2>Create New User</h2>
            </ng-template>

            <label class="name-label">Name</label>
            <input class="create-user-input" pInputText [(ngModel)]="newUserName" />

            <label class="name-label">Weight (lbs)</label>
            <p-inputNumber class="create-user-input" [(ngModel)]="newUserWeight" [minFractionDigits]="2"
                [useGrouping]="false" />

            <label class="name-label">Height (in)</label>
            <p-inputNumber class="create-user-input" [(ngModel)]="newUserHeight" [minFractionDigits]="2"
                [useGrouping]="false" />

            <ng-template pTemplate="footer">
                <p-button (onClick)="createUser(newUserName, newUserHeight, newUserWeight)" label="Create User"
                    [raised]="true" [rounded]="true"></p-button>
            </ng-template>
        </p-card>
    </div>
</div>
<app-confirm-dialog [visible]="showDeleteDialog" header="Confirm Delete"
    [message]="'Are you sure you want to delete ' + (userToDelete?.name || 'this user') + '?'"
    (confirm)="confirmDelete()" (reject)="showDeleteDialog = false" (hide)="showDeleteDialog = false">
</app-confirm-dialog>