<app-sidebar #sidebar [isOpen]="sidebarVisible" (dashboardClick)="goToDashboard()" (profileClick)="goToProfile()"
    (loginClick)="goToLogin()">

    <mat-toolbar class="modern-toolbar">
        <button mat-icon-button (click)="sidebar.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h1>{{workout?.name}}</h1>
    </mat-toolbar>

    <div class="workout-content">
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title><strong>Exercises</strong></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let exercise of groupedSets | keyvalue">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{exercise.key}}
                            </mat-panel-title>
                            <mat-panel-description>
                                <span class="sets-count">{{exercise.value.length}} sets</span>
                                <button mat-icon-button
                                    (click)="showDescriptionDialog($event, exercise.value[0].exercise?.description)"
                                    matTooltip="View Description">
                                    <mat-icon class="info-icon">info</mat-icon>
                                </button>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-list>
                            <mat-list-item *ngFor="let set of exercise.value">
                                <div class="set-details">
                                    <span class="detail-item" *ngIf="set.weight">
                                        <mat-icon class="detail-icon">fitness_center</mat-icon>
                                        {{set.weight}} lbs
                                    </span>
                                    <span class="detail-item" *ngIf="set.reps">
                                        <mat-icon class="detail-icon">repeat</mat-icon>
                                        {{set.reps}} reps
                                    </span>
                                    <span class="detail-item" *ngIf="set.duration">
                                        <mat-icon class="detail-icon">timer</mat-icon>
                                        {{set.duration}}s
                                    </span>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="openNewSetDialog()">
                    <mat-icon>add</mat-icon>
                    Add New Exercise
                </button>
                <button mat-raised-button class="start-workout-button" [disabled]="isWorkoutMode"
                    (click)="startWorkout()">
                    <mat-icon>play_arrow</mat-icon>
                    Start Workout
                </button>
            </mat-card-actions>
        </mat-card>

        <mat-card appearance="outlined" *ngIf="isWorkoutMode" class="workout-tracker">
            <mat-card-header>
                <mat-card-title>Workout Progress</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngFor="let exerciseName of getExerciseNames()" class="exercise-group">
                    <div class="exercise-header">
                        <h3>{{exerciseName}}</h3>
                        <button mat-mini-fab color="primary" (click)="addSetToExercise(exerciseName)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                    <table mat-table [dataSource]="getSetsForExercise(exerciseName)" class="mat-elevation-z8">
                        <ng-container matColumnDef="setNumber">
                            <th mat-header-cell *matHeaderCellDef>Set</th>
                            <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
                        </ng-container>

                        <ng-container matColumnDef="weight">
                            <th mat-header-cell *matHeaderCellDef>Weight (lbs)</th>
                            <td mat-cell *matCellDef="let set">
                                <mat-form-field>
                                    <input matInput type="number" [(ngModel)]="set.weight">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="reps">
                            <th mat-header-cell *matHeaderCellDef>Reps</th>
                            <td mat-cell *matCellDef="let set">
                                <mat-form-field>
                                    <input matInput type="number" [(ngModel)]="set.reps">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="duration">
                            <th mat-header-cell *matHeaderCellDef>Duration</th>
                            <td mat-cell *matCellDef="let set">
                                <mat-form-field>
                                    <input matInput type="number" [(ngModel)]="set.duration">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="distance">
                            <th mat-header-cell *matHeaderCellDef>Distance</th>
                            <td mat-cell *matCellDef="let set">
                                <mat-form-field>
                                    <input matInput type="number" [(ngModel)]="set.distance">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="['setNumber', 'weight', 'reps', 'duration', 'distance']">
                        </tr>
                        <tr mat-row
                            *matRowDef="let row; columns: ['setNumber', 'weight', 'reps', 'duration', 'distance'];">
                        </tr>
                    </table>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="saveWorkout()">Save Progress</button>
                <button mat-raised-button color="warn" (click)="endWorkout()">End Workout</button>
            </mat-card-actions>
        </mat-card>
    </div>
</app-sidebar>