<app-sidebar #sidebar [isOpen]="sidebarVisible" (dashboardClick)="goToDashboard()" (profileClick)="goToProfile()"
    (workoutsClick)="goToWorkouts()" (loginClick)="goToLogin()">

    <mat-toolbar class="modern-toolbar">
        <button mat-icon-button (click)="sidebar.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h1>{{workout?.name}}</h1>
    </mat-toolbar>

    <div class="workout-content">
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Exercises</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let exercise of groupedSets | keyvalue">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{exercise.key}}
                            </mat-panel-title>
                            <mat-panel-description>
                                <span class="exercise-description">{{exercise.value[0].exercise?.description}}</span>
                                <span class="sets-count">{{exercise.value.length}} sets</span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-list>
                            <mat-list-item *ngFor="let set of exercise.value">
                                <div class="set-details">
                                    <span class="detail-item" *ngIf="set.weight">
                                        <mat-icon class="detail-icon">fitness_center</mat-icon>
                                        {{set.weight}} lbs
                                    </span>
                                    <span class="detail-item" *ngIf="set.reps">
                                        <mat-icon class="detail-icon">repeat</mat-icon>
                                        {{set.reps}} reps
                                    </span>
                                    <span class="detail-item" *ngIf="set.duration">
                                        <mat-icon class="detail-icon">timer</mat-icon>
                                        {{set.duration}}s
                                    </span>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="openNewSetDialog()">
                    <mat-icon>add</mat-icon>
                    Add New Exercise
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</app-sidebar>