<p-sidebar [(visible)]="sidebarVisible" position="left" [baseZIndex]="10000" coll>
    <ng-template pTemplate="header">
        <h1 style="font-weight:bolder;font-size:50px">Menu</h1>
    </ng-template>

    <p-divider />
    <p-button class="sidebar-button" (onClick)="goToDashboard()" label="Dashboard" severity="info" [raised]="true"
        [rounded]="true" />
    <p-divider />
    <p-button class="sidebar-button" (onClick)="goToWorkouts()" label="Workouts" severity="help" [raised]="true"
        [rounded]="true" />
    <p-divider />
    <p-button class="sidebar-button" (onClick)="goToProfile()" label="Profile" severity="success" [raised]="true"
        [rounded]="true" />
    <p-divider />

    <ng-template pTemplate="footer">
        <p-divider />
        <p-button class="sidebar-button" (onClick)="goToLogin()" label="Logout" severity="danger" [raised]="true"
            [rounded]="true" />
    </ng-template>
</p-sidebar>


<p-button type="button" (click)="sidebarVisible = true" icon="pi pi-arrow-right" size="large"></p-button>