<h2 mat-dialog-title>Add New Set</h2>
<mat-dialog-content>
    <form #setForm="ngForm">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Select Exercise</mat-label>
            <mat-select [(ngModel)]="selectedExercise" name="exercise" required>
                <mat-option *ngFor="let exercise of exercises" [value]="exercise">
                    {{exercise.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="selectedExercise">
            <mat-form-field class="third-width">
                <mat-label>Reps</mat-label>
                <input matInput type="number" [(ngModel)]="newSet.reps" name="reps" required min="0">
            </mat-form-field>

            <mat-form-field class="third-width">
                <mat-label>Weight (lbs)</mat-label>
                <input matInput type="number" [(ngModel)]="newSet.weight" name="weight" required min="0">
            </mat-form-field>

            <mat-form-field class="third-width">
                <mat-label>Duration (seconds)</mat-label>
                <input matInput type="number" [(ngModel)]="newSet.duration" name="duration" min="0">
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!setForm.form.valid">
        Add Set
    </button>
</mat-dialog-actions>